
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />




    <title>Calculadora</title>

    <style>
        td { width:40px; height:40px;}
        td input{ width:100%; height:100%;
        }
        td input[type="text"]{ border:0; padding:0; text-align:right;


        }
    </style>
</head>
<body>
    <div>
        <h1 style="color:red">Calculadora mais completa </h1>
        <!-- este obejto envia os dados do formulário para o servidor -->
        <!-- este comentário aparece no cliente (browser) -->
        @* mas este comentário já não aparece... *@
        
        <form method="post">

            <table style="border-spacing:5px; border-collapse:collapse; border:1px solid #808080">
                <tr>
                    <td colspan="5">
                        <input type="text" name="visor" value="@ViewBag.Visor" readonly="readonly" 
                         class="form-control"
                         style="height:30px; width:215px; text-align:right;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt"
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt"
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                <tr>
                    <td>
                        <input type="submit" value="4" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="5" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="6" name="bt" 
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="x" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="c" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="1" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="2" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="3" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="-" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td rowspan="2">
                        <input type="submit" value="=" name="bt"  
                               class="btn btn-default"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="0" name="bt"  
                               class="btn btn-default"/>
                    </td>
                    <td>
                        <input type="submit" value="," name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                    <td>
                        <input type="submit" value="+" name="bt"  
                               class="btn btn-default"
                               style="height:40px; width:40px;"/>
                    </td>
                </tr>






            </table>
        </form>



    </div>
</body>
</html>
